<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
    <title>Burgers are Delicious!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- bringing in Bootstrap o make this look acceptable... --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/journal/bootstrap.min.css" />
    <script src="../../public/assets/burgers.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>